.sidebar-container {
  margin: 0 10px;
  flex: 1;
  background: pink;
  min-width: 150px;
}

.sidebar--expanded {
  display: flex;
  align-items: center;
  flex-direction: row;
  /*height: stretch;*/
}


.sidebar-face {
  flex: 1;
  width: 50%;
  height: 50%;
  object-fit: contain;
}

.sidebar-container-toggle {
  display: visible;
}

.sidebar-info {
  flex: 1;
}
@media all and (min-width: 600px) {
  .sidebar-container-toggle {
    display: none;
  }
}
