.sidebar-container {
  display: flex;
  flex-direction: row wrap;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sidebar--expanded {
  display: flex;
  align-items: center;
  flex-direction: column wrap;
  height: stretch;
}


.sidebar-face {
  width: 50%;
  height: 50%;
  object-fit: contain;
}
