.main-wrapper {
  padding: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: -webkit-fill-available;

  background-color: oldlace;
}



 /*Large screens */*/
@media all and (min-width: 800px) {

}
