.main-wrapper {
  padding: 50px;
  display: flex;
  height: 100%;
  position: relative;
  background-color: oldlace;
}



 /*Large screens */*/
@media all and (min-width: 600px) {
  .main-wrapper {
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
}
