.main-wrapper {
  padding: 50px;
  display: flex;
  height: stretch;
  background-color: oldlace;
}



 /*Large screens */*/
@media all and (min-width: 600px) {
  .main-wrapper {
    padding: 50px;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: stretch;
    background-color: oldlace;
  }
}
